*{
    margin: 0;
    padding: 0;
}

body{
    background-color: bisque;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    background-color: #fff;
    width: 25%;
    height: 300px;
    border-radius: 20px;
    margin-top: 100px;
}

h1{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}

input{
    margin-left: 25px;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    width: 80%;
}

#button{
    width: 84%;
    height: 35px;
    background-color: rgb(60, 187, 60);
    border: none;
    border-radius: 5px;
}

h4{
    margin-left: 25px;
    margin-top: 20px;
    font-weight: normal;
    font-family: sans-serif;
}

button{
    margin-top: 10px;
    text-align: center;
    height: 25px;
    width: 20%;
}

#Modifier{
    margin-left: 150px;
    background-color: darkslategrey;
    color: white;
    border: none;
    border-radius: 5px;
}

#Supprimer{
    margin-left: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}