*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.card{
    background-color: white;
    margin: auto;
    width: 40%;
    height: 350px;
    border-radius: 10px;
    margin-top: 50px;
}

.to-do-list{
    width: 95%;
    padding-top: 35px;
    height: 300px;
    margin: auto;
    background-color: white;
}

.to-do-list h1{
    text-transform: uppercase;
    font-family: sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}